@page "/signup/success"
@attribute [AllowAnonymous]

<PageTitle>Thank you</PageTitle>

<div class="text-center py-5">
    <h1 class="h3 mb-3">You are almost there</h1>
    <p class="text-secondary col-lg-8 mx-auto">
        If you completed payment, your subscription activates in a few seconds. Sign in to download the installer and review your
        emergency contacts.
    </p>
    <a class="btn btn-primary mt-3" href="/login">Log in</a>
</div>
